.title {
    display: flex;
    align-items: center;
}

.header {
    /*display: flex;*/
    /*align-items: center;*/
}

.button {
    border-radius: 32px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    transition: padding-left 0.3s ease, background-color 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
}

.backButton {
    composes: button;
    position: relative;
    display: flex;
    align-items: center;
    border-color: var(--pink);
    color: var(--pink);
}

.backButton:hover{
    padding: 5px 10px 5px 25px;
    color: white;
    background-color: var(--pink);
}

.backButton:hover .arrow {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.backButton:hover .arrow path {
    fill: white;
}

.changeStatusButton {
    composes: button;
}

.changeStatusButton.Pending {
    color: var(--orange);
    border-color: var(--orange);
}

.changeStatusButton.Pending:hover {
    color: white;
    background-color: var(--orange);
}

.changeStatusButton.Closed{
    color: var(--pink);
    border-color: var(--pink);
}

.changeStatusButton.Closed:hover {
    color: white;
    background-color: var(--pink);
}

.arrow {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 8px;
    transform: rotate(180deg);
    transition: opacity 0.2s ease,
    visibility 0.2s ease,
    left 0.4s ease;
}


