ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filterButton {
    border: 1px solid gray;

}

tr:hover,
tr:focus-within {
    background: #f2f3ff;
}

.active {
    text-transform: uppercase;
}
